
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}

pre {
  margin: 0;
  padding: 0;
}

#log {
  font-family: monospace;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  text-align: center;
  /* width: 512px; */
  /* for easier reading of the tracelog */
  width: 1000px;
  margin: auto;
  border: 1px solid #afafaf;
  padding: 5px;
}

#output {
  height: 100%;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
